#resume-wrapper {
  padding-top: 250px;
  max-width: 1200px;
  padding-bottom: 5%;
}

#resume-headshot {
  width: 100%;
  /* height: 450px; */
  object-fit: contain;
}

#resume {
  width: 100%;
  /* height: 450px; */
}