nav {
  display: flex;
  padding: 20px 50px;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  z-index: 2;
}

#nav-header {
  display: block;
  position: relative;
  padding-left: 15px;
  text-decoration: unset;
}

.nav-white {
  transition: 0.5s;
  color: white;
  text-shadow: 3px 2px 20px black;
}

.nav-black {
  transition: 0.5s;
  color: #546b60;
  text-shadow: unset;
}

.nav-open {
  transition: 0.5s;
  color: white!important;
  text-shadow: unset!important;
}

#nav-name {
  font-size: 200%;
  font-weight: 500;
}

#nav-title {
  font-style: italic;
}

#nav-pages {
  padding: 5px 0px;
  border-radius: 1rem;
  background-color: #658576;
}

#nav-pages * {
  color: white;
  text-decoration: none;
  padding: 5px 10px 6px 10px;
}

.selected-nav {
  background-color: #546b60;
  border-radius: 1rem;
}

#nav-pages *:hover {
  background-color: #546b60;
  border-radius: 1rem;
}

#hamburger-wrapper {
  display: none;
}

#hamburger-icon {
  display: none;
}

@media (max-width: 767px) {
  #hamburger-wrapper {
    display: block;
  }

  #hamburger-icon {
    display: flex;
    padding-top: 30px;
    margin-right: 10px;
    width: 2rem;
    height: 2rem;
    font-size: 150%;
    position: relative;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;  
  }

  #close {
    display: none;
  }

  nav {
    padding: 0px;
    z-index: 2;
  }

  #nav-header {
    z-index: 2;
    padding-top: 20px;
  }

  #nav-items {
    display: none;
    position: absolute;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    width: 100%;
  }

  .slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
  }

  .slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
  }
    
  @keyframes slide-in {
    100% { transform: translateX(0%); }
  }

  @-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
  }
    
  @keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }

  @-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
  }

  #nav-pages:hover #slide {
    transition: 2s;
    left: -100;
  }

  #nav-name {
    font-size: 150%;
  }

  #nav-pages {
    background: #658576;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 5px;
    font-size: 150%;
  }

  #nav-pages * {
    text-align: center;
    width: 100%;
    color: black;
    text-shadow: none;
  }
}
